<a href="https://colab.research.google.com/github/abhilashmaipady/Tensorflow-starter/blob/learning/Tensorflow2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import os,datetime
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler

import tensorflow as tf

from tensorflow import keras
from keras import layers

In [8]:
data = pd.read_csv("/content/sample_data/Life Expectancy Data.csv")
data.sample(5)

                     Country  Year  ... Income composition of resources  Schooling
2525             Switzerland  2011  ...                           0.932       15.6
68       Antigua and Barbuda  2011  ...                           0.782       14.1
1122                   Haiti  2015  ...                           0.490        9.1
2611             Timor-Leste  2005  ...                           0.492       10.6
320   Bosnia and Herzegovina  2015  ...                           0.747       14.2

[5 rows x 22 columns]

In [10]:
data.shape

(2938, 22)

In [20]:
for country in data['Country'].unique():
  for col in data.columns[data.isnull().any()]:
    data.loc[data['Country'] == country, col] = data.loc[data['Country'] == country, col].fillna(data[data['Country'] == country][col].mean())

In [21]:
data.isna().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                             17
percentage expenditure               0
Hepatitis B                        144
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                                0
Total expenditure                   32
Diphtheria                           0
 HIV/AIDS                            0
GDP                                405
Population                         648
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [23]:
data = data.dropna()
data.shape

(2128, 22)

In [29]:
features = data.drop(columns=['Life expectancy ', 'Country'], axis=1)
target = data[['Life expectancy ']]

In [30]:
features.columns

Index(['Year', 'Status', 'Adult Mortality', 'infant deaths', 'Alcohol',
       'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ',
       'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ',
       ' HIV/AIDS', 'GDP', 'Population', ' thinness  1-19 years',
       ' thinness 5-9 years', 'Income composition of resources', 'Schooling'],
      dtype='object')